.carousel-item {
    height: 100vh;
    min-height: 350px;
    
    
}
.carousel-item img{
    width: 100%;
}
#mainNavbar {
    padding-left: 50px;
    padding-top: 20px
}

.navbar-dark .navbar-brand {
    font-family: 'Source Serif Pro', serif
}

.navbar-nav .nav-link {
    font-family: 'Source Serif Pro', serif
}

.display-4 {
    font-family: 'Source Serif Pro', serif
}

.lead {
    font-family: 'Source Serif Pro', serif
}

.navbar.scrolled {
    background: rgb(34, 31, 31);
    transition: background 500ms
}

.font-weight-light {
    font-family: 'Source Serif Pro', serif
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Caveat', cursive;
    color: #fff;
  }
  
  /* Float four columns side by side */
  .column {
    float: center;
    
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
 
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .about img{
    width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .carousel-item {
        height:0vh;
    }
  }
  
  /* Style the counter cards */
  .card {
    width:270px;
	position: relative;
	height: 400px;
	border: 0px solid ;
	margin:30px 10px;
	padding: 20px 15px;
    background: rgb(51, 51, 51);
    
    border-radius: 2%;
	flex-direction: column;
	color: #fff;
	transition:0.3s ease-in-out;
	margin-top: 5%;
    margin-right: auto;
  }
  .containers{
    
	position: relative;
    margin-left: 15%;
    margin-right: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;


}
.containers .card img{
    position: relative;
	width: 190px;;
	
    float: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 170px;
}

.title{
    font-family: 'My Soul', cursive;
    color: #fff;
    font-size: 40px;
padding-top: 35px;
float: center;
}
svg{
    color: yellow;
    fill: white;
}
.order{
        border-color: #E8BA42;
        border: 0px;
        background: #E8BA42;
        transition: all 150ms ease-in-out;
        width: 150px;
        height: 40px;
        border-radius: 3px;
        box-shadow: 5px 5px grey;
        float: bottom;
      }
.order:hover{
    width: 155px;
        height: 45px;
        background: rgb(252, 255, 179);
}
.price{
    color: #E8BA42;
}


.con{
    position: relative;
    margin-left: 15%;
    margin-right: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;


}

.profile{
	position: relative;
   width: 300px;
    display: flex;
 }

 .overlay{
	 position: absolute;
	 top: 75%;
	 bottom: 0;
	 left: 20%;
	 opacity: 0;
	 transition: opacity 0.8s ease-in-out;
	 cursor: pointer;
	 background: black;
 }
 .content{
	 position: absolute;
	 color: white;
     background: black;

 }
.profile:hover{
     opacity: 0.9;
 }
 .profile:hover .overlay{
	 opacity: 0.8;
 }

 .testi-item{
     width: calc((100%/3)-30);
     margin: 0 15px 30px;
     border: 1px solid ;
     padding: 30px;
     border-radius: 8px;
     border-color: #E8BA42 ;    
 
 }



 .test-author{
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: white;
 }

 .testi-author h3{
     font-size: 16px;
     text-transform: capitalize;
     margin:0 0 3px;
     color: #E8BA42;
 }
 .testi-author span{
     display: block;
     font-size: 14px;
     text-transform: capitalize;
     color: white;
 }
 .testi-author img{
     max-width: 60px;
     border-radius: 50%;

 }

 .about{
     width: 100%;
     height: 100%;
     display: inline-block; 
     text-align: justify;
     color: white;
 }
 .about img{
     width: 50%;
     height: 100%;
     float: right;
     padding-left: 10px;

 }

 .location{
     float: right;

 }
 @media screen and (max-width: 600px) {
    
    .about img{
    width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  body{
    /* background-image: url(https://drive.google.com/uc?id=1oQyzrGoGIFWoFmkd1a1FB4vBOXc8Q51x);   */
    background-color: #121212;
    background-size: cover;
    opacity: 0.9;
  }
  footer{
      background-color: black;;
  }
  html{
      scroll-behavior: smooth;
  }